section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  

    article{
        border: 1px solid  rgb(61, 33, 123);
        
        h3{
            display: flex;
            justify-content: flex-start;
            padding-left: 15px;
            color: black;
            margin: 5px;
        }
        a{
            display: flex;
            justify-content: flex-start;
            padding-left: 15px;
            padding-bottom: 10px;
            margin: 5px;
        }
        img{
            max-width: 300px;
            max-height: 300px;
            padding-left: 15px;
            padding-top: 15px;
            padding-right: 15px;
        }
    }
}